/* Is this the best way to hide scrollbars? */

html::-webkit-scrollbar {
		display: none;
}

html {
		scrollbar-width: none;
}

.hspacer {
		padding-left: 0.5em;
		padding-right: 0.5em;
}

.padded {
		padding: 0.5em;
}

.search-result {
		border: 0.1rem;
		border-spacing: 0;
		border-style: outset;
		border-radius: 0.5rem;
		border-color: rgba(100,100,100,0.5);
		margin-bottom: 0.5rem;
}

.vspacer {
		padding-top: 1em;
}

.bp-input {
		width: 40%;
}

input[type="number"].invalid {
		border: 1px solid red;
}

input[type="number"].incomplete, select.incomplete {
		border: 2px solid #D5C0C0;
}

input[type="number"]:focus.incomplete, select:focus.incomplete {
		border: 2px solid #33C3F0
}

label.incomplete {
		text-decoration: underline solid #D5C0C0;;
}

.slash {
		font-weight: bolder;
		font-size: 2em;
		vertical-align: sub;
}

.alarm {
		background: hotpink;
}

.centre {
		text-align: center;
}

.warning {
		text-transform: capitalize;
		font-size: 1.2em;
		color: orangered;
}

.inline {
		white-space: nowrap;
}

.blue {
		background-color: #1EAEDE;
		color: white;
}

.flex-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
}

.tag {
		padding-right: 0.5rem;
		padding-right: 0.5rem;
}

.filter-choose {
		border: 0.1rem;
		border-spacing: 0;
		border-style: outset;
		border-radius: 0.5rem;
		border-color: #1EAEDB;
		padding-top: 1rem;
}


.active {
		background-color: lightgreen;
}

.filter-set {
		margin-bottom: 1rem;
}

span.ham {
		padding-top: 0.4rem;
		font-size: 2.5rem;
}

button.narrow {
}

button.filter-button {
		height: auto;
		line-height: 2.4rem;
		min-height: 48px;
}

button.filter-button:focus {
		color: white;
}

button.filter-button.selected {
		color: #333;
		border-color: #777;
		outline: 0;
}

button.filter-button.selected:focus {
		color: #333;
		border-color: #777;
		outline: 0;
}

div.tag-hover {
		display: block;
		float: inline-start;
		position: relative;
		left: 10%;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	width: 200px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
	margin-left: -80px;
}
