/* Is this the best way to hide scrollbars? */

html::-webkit-scrollbar {
		display: none;
}

.xxl {
		font-size: xx-large;
}

html {
		scrollbar-width: none;
		background-color: #FEFEFB;
}

.padded {
		padding: 0.5em;
}

.break-wrap {
		word-wrap: break-word;
}

.ctext {
		text-align: center;
}

.search-result {
		border: 0.1rem;
		border-spacing: 0;
		border-style: outset;
		border-radius: 0.5rem;
		border-color: rgba(100,100,100,0.5);
		margin-bottom: 0.5rem;
}

.vspacer {
		padding-top: 1em;
}

.fixed {
		position: fixed;
}

.absolute {
		position: absolute;
}

.text-black {
		color: black;
}

.text-red {
		color: #BB1212;
}


.border-red {
		border-color: #BB1212;
}

.bg-white {
		background-color: white;
}

.translucent-9 {
		opacity: 0.9;
}

.bg-grey {
		background-color: #BCBCCD;
}

.bg-green {
		background-color: lightgreen;
}		

.bg-red {
		background-color: red;
}		

.border-black {
		border-color: black !important;
}

.bg-light-blue {
		background-color: #63D2FF;
}

.bg-blue {
		background-color: #3286E5;
}

.bg-dark-blue {
		background-color: #2A4494;
}

.bg-darker-blue {
		background-color: #224870;
}

.text-white {
		color: white;
}

a {
		cursor: pointer;
}

.wide {
		min-width: 128px;
}

.vcenter {
		align-items: center;
}

.flex {
		display: flex;
}

.flex-right {
		align-self: flex-end;
}

.flex-wrap {
		flex-wrap: wrap;
}

.flex-centre {
		justify-content: center;
}

.space-evenly {
		justify-content: space-evenly;
}

.space-between {
		justify-content: space-between;
}

.stretch {
		align-items: stretch;
}

.flex-start {
		justify-content: flex-start;
}

.flex-column {
		flex-direction: column;
}

.grow-1 {
		flex-grow: 1;
}
.grow-2 {
		flex-grow: 2;
}

.grow-4 {
		flex-grow: 4;
}

.shrink-2 {
		flex-shrink: 2;
}

.basis-12 {
		flex-basis: 12rem;
}

.bg-dull {
		background-color: rgba(0,0,0,0.1);
}

a.link-blue {
		color: #1EAEDB;
}

.filter-choose {
		border: 0.1rem;
		border-spacing: 0;
		border-style: outset;
		border-radius: 0.5rem;
		padding-top: 1rem;
}

.border-solid {
		border-style: solid !important;
}

.border-round {
		border: 0.1rem;
		border-radius: 0.5rem;
}

.centre {
		position: relative;
		top: -11px;
		right: 0px;
}

.border-circle {
		height: 18px;
		width: 20px;
		font-weight: bold;
		border: 0.1rem;
		border-spacing: 0;
		border-style: solid;
		border-radius: 20rem;
}

.absolute-c {
		margin-left: -8rem;
}

.a-top {
		margin-top: -3rem;
}


.mt4 {
		margin-top: 4rem;
}

.mtp2 {
		margin-top: 0.2rem;
}

.mt1 {
		margin-top: 1rem;
}

.mb1 {
		margin-bottom: 1rem;
}

.mb1h {
		margin-bottom: 1.5rem;
}

.mb2 {
		margin-bottom: 2rem;
}

.mb0 {
		margin-bottom: 0;
}

.ph {
		padding: 0.5rem;
}

.p1 {
		padding: 1rem;
}

.p2 {
		padding: 2rem;
}

.pbh {
		padding-bottom: 0.5rem;
}

.prh {
		padding-right: 0.5rem;
}

.plh {
		padding-left: 0.5rem;
}

.pb1 {
		padding-bottom: 1rem;
}

.pb2 {
		padding-bottom: 2rem;
}

.pth {
		padding-top: 0.5rem;
}

.pt1 {
		padding-top:1rem;
}

.pt2 {
		padding-top:2rem;
}

.pl1 {
		padding-left: 1rem;
}

.pl2 {
		padding-left: 2rem;
}

.pr1 {
		padding-right: 1rem;
}

.pr2 {
		padding-right: 2rem;
}

input {
		margin-bottom: 0;
}

span.ham {
		padding-top: 0.4rem;
		font-size: 2.5rem;
}

button.filter-button {
		height: auto;
		line-height: 2.4rem;
		min-height: 48px;
}


/* button.filter-button.selected { */
/* 		color: #333; */
/* 		outline: 0; */
/* } */

/* button.filter-button.selected:focus { */
/* 		color: #333; */
/* 		outline: 0; */
/* } */

.z100 {
		z-index: 100;
}

